input {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
    width: 80%;
    height: 50px;
    color: black;
  }
  
  .login {
    padding: 20px 0;
  }
  
  .login_btn {
    color: white;
    background-color: black;
  }